.card-bg {
    background: #252525;
    color: #fff;
}

.apexcharts-yaxis,
.apexcharts-xaxis {
    text {
        fill: #fff;
    }
}

.btn-orange:disabled {
    background: #2F2F2F;
    color: #6C6C6C;
}