<div class="modal fade" id="addPatent" aria-labelledby="addPatentLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal__top">
            <div class="modal__title">Добавить патент</div>
            <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.41401 6.00001L11.707 1.70701C12.098 1.31601 12.098 0.684006 11.707 0.293006C11.316 -0.0979941 10.684 -0.0979941 10.293 0.293006L6.00001 4.58601L1.70701 0.293006C1.31601 -0.0979941 0.684006 -0.0979941 0.293006 0.293006C-0.0979941 0.684006 -0.0979941 1.31601 0.293006 1.70701L4.58601 6.00001L0.293006 10.293C-0.0979941 10.684 -0.0979941 11.316 0.293006 11.707C0.488006 11.902 0.744006 12 1.00001 12C1.25601 12 1.51201 11.902 1.70701 11.707L6.00001 7.41401L10.293 11.707C10.488 11.902 10.744 12 11 12C11.256 12 11.512 11.902 11.707 11.707C12.098 11.316 12.098 10.684 11.707 10.293L7.41401 6.00001Z" fill="#85949E"/>
                </svg>
            </button>
        </div>
        <div class="modal__content">

            <div class="modal__form">
                <fieldset class='form-group form-group--error'>
                    <label>Серия и номер</label>
                    <input type='text' />
                    <span class="form-group__error">Обязательное поле</span>
                </fieldset>
                <fieldset class='form-group'>
                    <label>Дата выдачи</label>
                    <div class="date-input">
                        <input type='text' class="" />
                    </div>
                </fieldset>
                <fieldset class='form-group'>
                    <label>Дата окончания</label>
                    <div class="date-input">
                        <input type='text' class="" />
                    </div>
                </fieldset>
                <fieldset class='form-group modal__form-group--full'>
                    <label>Кем выдан</label>
                    <input type='text' />
                </fieldset>
            </div>

        </div>

        <div class="modal__bottom">
            <div class="migrant-doc__file file-input">
                <input type="file" name="" id="file1">
                <label for="file1">Загрузить фото/скан</label>
            </div>
            <button class="modal__btn btn btn-blue">Сохранить</button>
        </div>
    </div>
</div>