<div class="step-card">
    <div class="step-card__inner">

        <div class="step-card__top">
            <div class="step-card__logo">
                <img src="img/logo2.svg" alt="">
            </div>
            <button class="step-card__burger">
                <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1.69792" y1="1.4814" x2="17.8583" y2="1.4814" stroke="black" stroke-width="1.71615" stroke-linecap="round"/>
                    <line x1="1.69792" y1="7.34713" x2="17.8583" y2="7.34713" stroke="black" stroke-width="1.71615" stroke-linecap="round"/>
                    <line x1="1.69792" y1="13.2128" x2="17.8583" y2="13.2128" stroke="black" stroke-width="1.71615" stroke-linecap="round"/>
                </svg>
            </button>
        </div>

        <div class="step-card__info">
            <div class="step-card__avatar">
                <img src="img/user.svg" alt="">
            </div>
            <div class="step-card__name">Hi Alex</div>
            <button class="step-card__edit">Edit</button>
        </div>

        <div class="step-card__items">
            <div class="step-card__item">
                <span class="step-card__item-title">My QR-code</span>
                <img src="img/qr.svg" alt="">
            </div>
            <div class="step-card__item">
                <span class="step-card__item-title">My balance</span>
                <span class="step-card__item-desc">100 AED</span>
            </div>
        </div>

        <div class="step-card__items">
            <div class="step-card__item">
                <span class="step-card__item-title">Last week tips</span>
                <span class="step-card__item-desc">0 AED</span>
            </div>
            <div class="step-card__item">
                <span class="step-card__item-title">Last month tips</span>
                <span class="step-card__item-desc">78 AED</span>
            </div>
            <div class="step-card__item">
                <span class="step-card__item-title">Total amount of <br> tips received</span>
                <span class="step-card__item-desc">90 AED</span>
            </div>
        </div>
    </div>
</div>

<div class="step-num">
    <div class="step-num__icon">@@num</div>
    <div class="step-num__title">@@text</div>
</div>